.main {
    
    position: relative;
    width: 889px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 66px;
    border-radius: 12px;
    background: rgb(255, 255, 255);
    padding-top: 15px;
    
}

.p{
 /* ab98awj_918... */
position: static;
width: 324px;
height: 32px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 66px;
color: rgb(0, 0, 0);
font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0%;
text-align: left;
}